<h3 class="title">CUESTIONARIO</h3>


<form [formGroup]="formc" (ngSubmit)="save()">

  <div class="container">
    <div class="izquierda">

      <fieldset class="preguntas">
          <legend>Pregunta</legend>
          <p class="question">
            1.- A usted le gustan las películas de terror?
          </p>      
        <div class="options">
            <input 
            type="radio" 
            id="No" 
            value="No mucho"
            name="answer1"
            formControlName="answer1">
            <label for="No">No mucho</label>
            <input 
            type="radio" 
            id="Av" 
            value="A veces"
            name="answer1"
            formControlName="answer1"
            >
            <label for="Av">Aveces</label>
            <input 
            type="radio" 
            id="Si"
            value="Siempre"
            name="answer1"
            formControlName="answer1"
            >
            <label for="Si">Siempre</label>
        </div>
      </fieldset>

      <fieldset class="preguntas">
          <legend>Pregunta</legend>
          <p class="question">
            2.- Qué color de bolígrafo usa?
          </p>
          <div class="options">
            <input 
            type="radio" 
            id="rojo" 
            value="Rojo"
            name="answer2"
            formControlName="answer2"
            >
            <label for="rojo">Rojo</label>
            <input 
            type="radio" 
            id="azul" 
            value="Azul"
            name="answer2"
            formControlName="answer2"
            >
            <label for="azul">Azul</label>
            <input 
            type="radio" 
            id="negro"
            value="Negro"
            name="answer2" 
            formControlName="answer2"
            >
            <label for="negro">Negro</label>
            <input 
            type="radio" 
            id="ninguno2"
            value="Ninguno2"
            name="answer2" 
            formControlName="answer2"
            >
            <label for="ninguno2">Ninguno</label>
        </div>
      </fieldset>
    
      <fieldset class="preguntas">
          <legend>Pregunta</legend>
          <p class="question">
            3.- De qué color es el cabello blanco de Napoleon?
          </p>      
        <div class="options">
            <input 
            type="radio" 
            id="negro3" 
            value="Negro"
            name="answer3"
            formControlName="answer3"
            >
            <label for="negro3">Negro</label>
            <input 
            type="radio" 
            id="azul3" 
            value="Azul"
            name="answer3"
            formControlName="answer3"
            >
            <label for="azul3">Azul</label>
            <input 
            type="radio" 
            id="cafe"
            value="Cafe"
            name="answer3"
            formControlName="answer3"
            >
            <label for="cafe">Cafe</label>
            <input 
            type="radio" 
            id="blanco"
            value="Blanco"
            name="answer3"
            formControlName="answer3"
            >
            <label for="blanco">Blanco</label>
        </div>
      </fieldset>

    </div>


    <div class="derecha">

      <fieldset class="preguntas">
          <legend>Pregunta</legend>
          <p class="question">
            4.- Qué es más pesado 1kilo de plumas o 1 Kilo de oro?
          </p>      
        <div class="options">
            <input 
            type="radio" 
            id="plumas" 
            value="1 kilo de plumas"
            name="answer4"
            formControlName="answer4"
            >
            <label for="plumas">1 kilo de plumas</label>
            <input 
            type="radio" 
            id="oro" 
            value="1 kilo de Oro"
            name="answer4"
            formControlName="answer4">
            <label for="oro">1 kilo de Oro</label>
            <input 
            type="radio" 
            id="ninguno"
            value="Ninguno"
            name="answer4"
            formControlName="answer4">
            <label for="ninguno">Ninguno</label>
            <input 
            type="radio" 
            id="iguales"
            value="Son iguales"
            name="answer4"
            formControlName="answer4">
            <label for="iguales">Son iguales</label>
        </div>
      </fieldset>

      <fieldset class="preguntas">
          <legend>Pregunta</legend>
          <p class="question">
            5.- Cuántos dedos tiene una gallina en su pata?
          </p>      
        <div class="options">
            <input 
            type="radio" 
            id="tres" 
            value="3 Dedos"
            name="answer5"
            formControlName="answer5">
            <label for="tres">3 Dedos</label>
            <input 
            type="radio" 
            id="dos" 
            value="2 Dedos"
            name="answer5"
            formControlName="answer5">
            <label for="dos">2 Dedos</label>
            <input 
            type="radio" 
            id="cuatro"
            value="4 Dedos"
            name="answer5"
            formControlName="answer5"
            >
            <label for="cuatro">4 Dedos</label>
        </div>
      </fieldset>


      <div class="acept">
        <div>
          <label for="verification">
            Usted acepta que está respondiendo con sinceridad las anteriores preguntas
          </label>
        </div>
        <div>
            <input 
            type="checkbox"
            id="aceptar"
            name="aceptar"
            formControlName="aceptar"
            required
            >            
        </div>
      </div>
      <small class="advertencia" *ngIf="aceptarNoValido">
        Debe tiquear la opcion para guardar el cuestionario</small>
      <div class="btn">
        <button type="submit" class="boton" [disabled]="formc.invalid">Guardar</button>
      </div>

    </div>
  </div>
</form>